################################
# Application
################################

APP_NAME=ecommerce-platform

APP_ENV=development


################################
# Database
################################

POSTGRES_HOST=localhost

POSTGRES_PORT=5432

POSTGRES_DB=ecommerce

POSTGRES_USER=postgres

POSTGRES_PASSWORD=password


################################
# JWT Authentication
################################

JWT_SECRET=change_this_secret

JWT_EXPIRE_MINUTES=60


################################
# Redis
################################

REDIS_HOST=localhost

REDIS_PORT=6379


################################
# Marketplace
################################

SHOPEE_API_KEY=

TOKOPEDIA_API_KEY=


################################
# WhatsApp API
################################

WHATSAPP_TOKEN=

WHATSAPP_PHONE_ID=